/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --secound-main-color: #02d2ea;
    --footer-color: #1d283c;
    --hover-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}


/* End Global Rules */

/* Start Navbar */
.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--main-color);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 70px;
    overflow: hidden;
}

.navbar img {
    height: 3.5rem;
    width: 10.5rem;
    justify-self: start;
    margin-left: 20px;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-self: end;

}

.nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    cursor: pointer;
}

.nav-item a:hover {
    color: var(--secound-main-color);
}

/* End Navbar */
/* Start Media Queries */

@media only screen and (max-width: 720px) {

    .navbar ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1.5fr);
        justify-self: end;
        gap: 5px;
    }

}

@media only screen and (max-width: 665px) {
    .navbar ul li {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1.5fr);
        justify-self: end;
        gap: 7px;
    }
}

/* End Navbar */
/* Start Image */
.begin-img {
    position: relative;
}

.begin-img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.begin-img img {
    width: 100%;
    min-height: 370px;
}

.begin-img .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: var(--main-color);
    text-align: center;
}

.begin-img .text h1 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.begin-img .text p {
    margin-bottom: 20px;
    font-size: 20px;
}

button {
    background-color: var(--secound-main-color);
    color: var(--main-color);
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 7px;
}

/* End Image */

/* Start courses */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    position: relative;
}

.special-heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid var(--secound-main-color);
}

.special-heading {
    margin: 0 0 50px;
    font-weight: normal;
    padding-left: 10px;
}

.courses {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.courses .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.courses .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition),
        box-shadow var(--main-transition);
}

.courses .box:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    animation: moving-arrow 0.9s linear;
}

.courses .box img {
    width: 100%;
    max-width: 100%;
}

.courses .box .content {
    padding: 20px;
}

.courses .box .content h3 {
    margin: 0;
}

.courses .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
    padding-bottom: 15px;
}

.courses .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .box .info a {
    color: var(--secound-main-color);
    font-weight: bold;
}

.courses .box .info i {
    color: var(--secound-main-color);
}

/* End courses */

/* Start Animation */

@keyframes moving-arrow {
    100% {
        transform: translateY(-10px);
    }
}

/* End Animation */

/* Start Add button */
.add-div {
    display: flex;
    justify-content: center;
}

.edit-btn {
    width: fit-content;
}

.add-btn {
    width: 30%;
}

.add-btn:hover {
    box-shadow: var(--hover-shadow);
}

/* End Add button */

/* Start Footer */
.footer {
    width: 100%;
    background: var(--footer-color);
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: calc(100%/3);
    padding: 10px 20px;
    box-sizing: border-box;
    color: var(--main-color);
}

.footer-items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: var(--main-color);
}

.footer-items h1 {
    color: var(--main-color);
}

.border {
    height: 3px;
    width: 40px;
    background: var(--secound-main-color);
    color: var(--secound-main-color);
    background-color: var(--secound-main-color);
    border: 0px;
    transition: 0.5s;
}

.footer-items:hover .border {
    width: 106px;
}

ul {
    list-style: none;
    color: var(--main-color);
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: var(--main-color);
    transition: 0.3s;
}

ul a:hover {
    color: var(--secound-main-color);
}

ul li {
    margin: 10px 0;
    height: 25px;
}

li i {
    margin-right: 20px;
}


@media screen and (max-width: 1275px) {
    .footer-items {
        width: 50%;
    }

    .inner-footer {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 660px) {
    .footer-items {
        width: 100%;
    }
}

/* End Footer */

/* Start Show */
main {
    font-size: 0;
}

main .column.left,
main .column.right {
    display: block;
    position: relative;
    font-size: 1rem;
    width: 100%;
    min-height: 0;
}

@media (min-width: 641px) {

    main .column.left,
    main .column.right {
        display: inline-block;
        width: 50%;
        min-height: 100vh;
    }

    main .column.left {
        position: relative;
        width: 50%;
        margin-top: 10%;
    }

    .static-imag {
        width: 100%;
        height: 100%;
    }

    main .column.right {
        margin-top: -5%;
    }

}

.video-banner-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.contents {
    display: block;
    min-height: 100vh;
    max-width: 40rem;
    margin: 2.5rem auto;
    padding: 1.5rem;
}

@media (min-width: 641px) {
    .contents {
        margin: 5.75rem auto;
        padding: 2.5rem;
    }
}

.container>h1,
.contents h1,
.contents h2,
.contents p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #0d013d;
}

.container>h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1em;
    margin: 0 0 0.5rem 0;
}

.contents h1 {
    font-size: 3.25em;
    font-weight: 200;
    line-height: 1em;
    margin: 0 0 0.5rem 0;
}

@media (min-width: 641px) {
    .contents h1 {
        font-size: 4em;
    }
}

.contents h2 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.155em;

    margin-top: 3em;
}

/* buttons */
.contents .button-group {
    margin-top: 1em;
}

.contents .button {
    display: inline-block;
    padding: 1em 2em;
    min-width: 8em;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    border-radius: 1.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background: #f0f0f0;
    color: #2b2b2b;
    transition: all 0.2s ease-out 0.05s;
    cursor: pointer;
}

.contents .button~.button {
    margin-left: 0.5em;
}

.contents .button:hover {
    background: #e5e5e5;
}

.contents .button.primary {
    background: #e50055;
    color: #fff;
}

.btn-show {
    color: #e50055 !important;
}

.contents .button.primary:hover {
    box-shadow: var(--hover-shadow)
}


.container .video-contanier {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .video-contanier .video {
    height: 250px;
    width: 350px;
    border: 5px solid var(--footer-color);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.container .video-contanier .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.container .video-contanier .video:hover video {
    transform: scale(1.1);
}

/* End Show */


/* start pop up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
}

.container .popup-open {
    display: block;
}

.container .popup .popup-video {
    height: 100%;
    width: 100%;
}

.container .popup span {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: var(--main-color);
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

@media (max-width:7688px) {
    .container .popup-video .video {
        width: 95%;
    }
}

@media (max-width:7688px) {
    .container .popup-video-open .video {
        width: 95%;
    }
}

/* end pop up */
/* start overlay */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.overlay img {
    max-width: 100%;
    height: 100%;
}

.overlay i {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: #2196f3;
    border-radius: 50%;
}

/* end overlay */